    .bold{
      color: black;
      font-weight: 900;
      font-weight: bold;
      font-size:larger ;
    }
    .nav-link {
    position: relative;
    text-decoration: none;
}
h3:hover{
  color: rgba(0,0,255,.1);
}
h2{
  font-weight:900;
  
}
p{
    font-weight: 500;
    font-family: 'Popping',sans-serif;
}

h2:hover{
  color: rgba(0,0,255,.1);
  font-weight:bold;

}

.container-fluid{
    font-family:Sans serif ;
    color:#FACC15
}
body {
  background-image:url("./images/Screenshot\ 2026-07-27\ 182808.png") ;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
font-size: 40px;
 
    
  color: lightgreen;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
  
}

.navbar {
    background: #1E293B;
    opacity: 50%;
}
.navbar:hover{
    
    opacity: 85%;
}
.nav-link::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -3px;
    background: rgb(49, 47, 42);
    transition: 0.3s ease;
}


.nav-link:hover::after {
    width: 100%;
}
.card{
    opacity: 50%;
    background-color: lightgreen;
    transform:2s ease;
}
.card-body{
    opacity: 700%;
  transition: all 0.3s;
  background-color: lightgreen;
  color: #F8FAFC;

}
.about_div{
  margin-top:0px;
  margin-bottom: 20px;
  font-size:50px; font-weight: 600;
font-family: Inter, sans-serif;

background-color: lightgreen;

color: white;

}
.experience_div{
  background-color: lightgreen; 
  font-family: 'Popping'; margin-top: 50px; 
   opacity: 95% ;
   font-weight: 700;
   font-size: 35px;
   margin :auto ;
   color:rgb(1, 2, 1);

}
.project_div{
  background-color: lightgreen; 
   font-family: 'Poppins'; margin-top: 50px; 
   opacity: 95% ;
   font-weight: 700;
   font-size: 35px;
   margin :auto ;
   color:rgb(1, 2, 1);

}
.navbar{
  color: green;
}
.experience_div h1{
  font-size: 100px;
  font-family: Inter, sans-serif;


}
.card-text{
    opacity: 100%;
    font-weight: 700;
     font-family: 'Poppins';
}
.card:hover{
  transform: scale(1.05);
  opacity: 100%;

}

.about_div h1{
  font-size: 200px;
  color: green;
}
.about_div h2{
  font-size:70px;
  
}
.customer_tech_div {
  color: white;
}
.customer_tech_div h1 {
  color: green;
}
.customer_tech_div p{
  color: black;
}
.online_customer_advisor{
  color: black;
}
.online_customer_advisor h1{
  color: green;
}
.online_customer_advisor h2{
  color: black;
}