
body{background-color: #B5BAFF;}
h1{
    text-align: center; 
    color:#AEE2FF ;
}
h2{
    text-align: left;
    color: #AEE2FF;
}
footer{
    text-align:center;
    color: #D9F9DF;
    margin: 20px;
    padding: 20px;
}
