
html{background-color: #B5BAFF;}
h1{
    text-align: center; 
    color:#D9F9DF ;
}
h2{
   text-align: center;
    color: #D9F9DF;
      display: block;
    position: relative;
  
    }
h3{
   text-align: center;
   font-weight: lighter;
    color: #D9F9DF;
      display: block;
    position: relative;
  
    }

li{
color: #D9F9DF;
}
footer{
    position: relative;
    display: block;
    text-align:right;
    color: #D9F9DF;

  

}
p{
    color: #D9F9DF;
   font-weight: lighter;
      display: block;
    position: relative;
    
    text-align: center;
}
.indexholder{
    display: block;
    text-align: center;
    font-weight: 200;
    font-size: 20pt;
}
.return{
    position: relative;
    text-align: jus;
    display: block;
}
img{
   text-align: center;
     display: block;
    height: 50pt;
    width: 50pt;
     margin: auto;
}

.link{

  
    text-align: center;

}
.img_project{
    display: block;
    margin :auto;
 
      text-align: center;
       height: 50pt;
    width: 50pt;
}
.projects>h2{
text-align: center;
font-weight: bold;
font-size: 20pt;
}
form{
text-align: center;    
display: block;

}

